body{
   background-color: #eeeeee;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.contenedor{
   width: 50%;
   height: 50%;
   display: grid;
   column-gap: 0.8rem;
   row-gap: 0.8rem;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
}
.contenedor > div{
   width: 14rem;
   height: 14rem;
   border-radius: 15px;
   box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contador{
   position: absolute;
   top: -150px;
   left: 5px;
}
.contador > p{
   font-weight: bold;
   font-size: 11rem;
}
